.sectionMenuAndSlide{
    padding: 0px 200px;
    height: 60vh;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}


.sectionMenu{
    width: 20%
  
}
.sectionMenu ul{
    border-left:1px solid rgba(0, 0, 0, .1);
    border-right:1px solid rgba(0, 0, 0, .1);
    height: 100%;
}

.sectionMenu ul li{
    height: 9.1%;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.sectionMenuIcon{
    display: flex;
    align-items: center;
    padding: 0px 10px;
}