.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 200px;
    height: 50px;
    width: 100%;
}


.header ul{
    display: flex;
    gap: 30px;
}

ul a{
    color: black;
}